# Symfony
api/vendor/
api/var/
api/.env.local
api/.env.dev

# React
frontend/node_modules/
frontend/dist/

# Docker
.env
.env.deploy

# Deployment scripts
deploy-backend.ps1
deploy-frontend.ps1

# Storage
api/storage/logs/*
api/storage/framework/testing