# Symfony
api/vendor/
api/var/
api/.env.local
api/.env.dev

# React
frontend/node_modules/
frontend/dist/

# Docker
.env
.env.deploy

# Deployment scripts
deploy-backend.ps1
deploy-frontend.ps1

# Storage
api/storage/logs/*
!api/storage/logs/.gitkeep

api/storage/framework/testing/*
!api/storage/framework/testing/.gitkeep

api/storage/framework/cache/*
!api/storage/framework/cache/.gitkeep

api/storage/framework/sessions/*
!api/storage/framework/sessions/.gitkeep

api/storage/framework/views/*
!api/storage/framework/views/.gitkeep